<p><%= task.content %></p>
<%= link_to 'Delete', list_task_path(@list, task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Mark As Complete', complete_list_task_path(@list, task.id), method: :patch %>